/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/build/

# Go build artifacts
/bin/
/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.pdf

# IDE/editor
.vscode/
*.swp
*~
.DS_Store

client/client
server/server